<ion-header>
  <ion-toolbar>

    <ion-button slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-button>

    <ion-title>Administrador de tiendas de Comics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content>


  <table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let item of listOfShops">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>
      <ion-button> <ion-icon name="create-outline" class="pading-icon"></ion-icon> </ion-button> 
      <ion-button> <ion-icon name="trash-outline" class="pading-icon"></ion-icon> </ion-button> 
    </td>
  </tr>
 
</table>


  

</ion-content>
